html {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow-y: hidden;
    padding: 0;
    margin: 0;
}

*::before,
*::after,
body {
    padding: 0;
    margin: 0;
}

.calculator-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;

    background-image: linear-gradient(to bottom right, #F277B0, #F26BC3, #8771D9, #79F2F2);
    font-family:'Courier New', Courier, monospace;
    font-size: 4rem;
    color: white;
}

.calculator-row {
    display: flex;
    flex-basis: 16%;
    margin: 0.5%;
}

.calc-btn {
    flex-basis: 25%;
    margin: 0 0.5%;
    
    background-color: #ffffff36;
    backdrop-filter: blur(10px);
    border-radius: 16px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
}

.calc-btn:hover {
    background-color: #ffffff23;
    backdrop-filter: blur(10px);
    cursor: pointer;
}

.double {
    flex-basis: 51%;
}

.triple {
    flex-basis: 77%;
}

.screen {
    width: 80%;
    padding: 20px 20px;
    margin: 0.5% auto;
    
    background-color: #ffffff36;
    backdrop-filter: blur(10px);
    border-radius: 16px;
    text-align: right;
}